contourpy==1.1.0
cycler==0.11.0
equinox==0.10.4
fonttools==4.42.0
importlib-metadata==6.8.0
importlib-resources==6.0.1
jax==0.4.13
jaxlib==0.4.13
jaxtyping==0.2.19
kiwisolver==1.4.4
matplotlib==3.7.2
ml-dtypes==0.2.0
numpy==1.24.4
opt-einsum==3.3.0
packaging==23.1
Pillow==10.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
scipy==1.10.1
six==1.16.0
typeguard==4.1.1
typing_extensions==4.7.1
zipp==3.16.2
